.divfiltrar{
  background-color: lightgray;
  border: darkgray solid;
  margin: 3%;
  padding: 0.5%;

}
.divfiltrar h1{
  text-align: center;
}
.div2{
  margin: 0.4%;
}
.div3{
  margin: 0.4%;
  text-align: center;
}
