<div class="divfiltrar">
<h1>Filtrar</h1>
          <div class="div2">
            <label for="ciudad"
                   class="form-label">
              buscar:&nbsp;
            </label>
            <input type="text"
                   id="ciudad">

          </div>
          <div class="div2">
            <label for="habitaciones"
                   class="form-label">
            Habitaciones  &nbsp; mayor a:&nbsp;
            </label>
            <input type="text"
                   id="habitaciones">

            <label for="habitaciones1"
                   class="form-label">
              &nbsp; menor a:&nbsp;
            </label>
            <input type="text"
                   id="habitaciones1">

          </div>
          <div class="div2">
            <label for="Precio"
                   class="form-label">
              Precio  &nbsp; mayor a:&nbsp;
            </label>
            <input type="text"
                   id="Precio">

            <label for="Precio1"
                   class="form-label">
              &nbsp; menor a:&nbsp;
            </label>
            <input type="text"
                   id="Precio1">

          </div>

          <div class="div2">
            <label for="Area"
                   class="form-label">
              Area  &nbsp; mayor a:&nbsp;
            </label>
            <input type="text"
                   id="Area">

            <label for="Area1"
                   class="form-label">
              &nbsp; menor a:&nbsp;
            </label>
            <input type="text"
                   id="Area1">
          </div>

  <div class="d-grip gap-2" class="div3" >
    <button class="btn btn-primary btn-block" [ngStyle]="{'width':'15%'}"
    >Buscar</button>
  </div>
</div>

